@import url('https://fonts.googleapis.com/css?family=Prata');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

/*defaults*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
    margin-top: .25em;
}

a {
    text-decoration: none;
}

/*mobile first from header down*/

.header {
    padding: 1em;
    text-align: center;
}

.zip-input {
    display: flex;
    justify-content: center;
    margin-top: -.95em;
}

#zippy {
    width: 100vw;
    text-align: center;
    font-weight: bold;
}

.go-button {
    display: flex;
    justify-content: center;
}

#go {
    flex-grow: 1;
    padding: 1.25em;
    margin-top: -.5em;
    font-weight: bold;
    font-size: 1em;
    color: white;
    background-color: #09b3ca;
}

.list-container {
    margin-top: -45px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2.5em;
    right: 1.2em;
}

#beachButtons {
    width: 100%;
    padding: 1.5em;
    font-weight: bold;
    font-size: 17px;
    color: white;
    background-color:#09b3ca;
}

#main-container {
    display: flex;
    justify-content: center;
    background-color: rgb(17, 17, 15);
    opacity: .7;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(103, 107, 107));
}

.footer {
    margin-top: 2em;
}

footer span i {
    font-size: 3.5em;
    color:  rgb(248, 247, 242);
    margin: 5px;
    padding-bottom: 40px 0;
}

#south-beach {
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    margin-bottom: -.25em;
    margin-top: .25em;
}