/* For mobile */

@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-sizing: inherit;
}

img {
  height: auto;
  width: 50px;
}

.ffoo1{
  padding-top: 5px;
  padding-bottom: 20px;

}
.ffoo2{
  margin-top: 10px;
}
.ffoo3{
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.ffoo4{
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.foo {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin: 0 0.5em 0 0.5em;
}

.fooA {

  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin: 0 0.5em 0 0.5em;
}
#a1, .a1 {
  background-color: white;
}
#a2, .a2 {
  background-color: #d7b797;
}
#a3, .a3{
  background-color: #62bfa9;
}

#svgAttributes {
  position: relative;
left: 10;
}

#newSvg {
  margin-left: 155px;
  width: 70px;
  height: 10px;
  margin-bottom: 5px;
}

#newLogo{
  position: relative;
  top: 10px;
  right: 0px;
  left: 7px;

}

#logo {
  z-index: 10000;
  position: absolute;
  width: auto;
  height: 40px;
}
.logo {
  width: auto;
  height: 60px;
}

.header {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 4em;
  font-weight: bolder;
  padding-top: 45px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 25px;
  color: white;
  font-family: 'Great Vibes', cursive;
}

.img {
  background-image: url('./Images/6b.jpg');
  background-repeat: no-repeat;
  background-position: center;
}


@media only screen and (min-width: 992px) {
  img {
    height: auto;
    width: 90px;
  }


  #svgAttributes {
    position: relative;
    left: 400px;
    bottom: 60px;
  }

  #newSvg {
    top: 0;
    left: 10;
    position: absolute;
    margin-left: 140px;
    width: 50px;
    height: 50px;
  }

  #newLogo {
    position: relative;
    top: 40px;
    right: 0px;
    left: 30px;
  }

  #logo {
    width: auto;
    height: 125px;
    z-index: 10000;
    position: absolute;
    top: 100;
    left: 50;
  }
  /* .logo {
    width: auto;
    height: 100px;
  } */
  .vg {
    /* opacity: .75; */
  }

    .img {
      background-image: url('./Images/6a.jpg');
      background-position: center;
    }
    .header {
      margin-bottom: 15px;
      font-size: 100px;
      padding-top: 20px;
      padding-bottom: 80px;
      margin-top: 150px;
    }
    .logo {
      width: 200px;
      height: 200px;
      margin-right: 65px;
    }
    .fooA {

      float: left;
      width: 50px;
      height: 50px;
      margin: 5px;
      border: 1px solid rgba(0, 0, 0, .2);
      margin: 0 0.5em 0 0.5em;
    }
    .foo {
      float: left;
      width: 50px;
      height: 50px;
      margin: 5px;
      border: 1px solid rgba(0, 0, 0, .2);
      margin: 0 0.5em 0 0.5em;
    }
    .ffoo1{
      padding-top: 10px;
      padding-bottom: 20px;
    }
    .ffoo2{
      margin-top: 40px;
    }
    .ffoo3{
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .ffoo4{
      padding-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .butt{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .text{
      margin-top: 100px;

      /* border: 2px solid black; */
      border-radius: 50%;
      color: white;
      background-color: #d7b797;
      padding-left: 10px;
      padding-right: 10px;
      height: 50px;
    }
    .bbox, .bbox1 {
      width: 100%;
    }

}
