@import url('https://fonts.googleapis.com/css?family=Niramit');

* {
  box-sizing: border-box;
}
h3 {
  text-align: center;
  font-size: 2em;
  color: #999393;
}
.boxy1 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Niramit', sans-serif;
  color: #74cbcf;
  margin-bottom: .9em;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background-color: rgb(253, 253, 249);
}

.boxy1 p {
  color: black;
  font-weight: normal;
  font-size: .75em;
  padding: 1.1em;
  margin-top: -1em;
}

.button1 {
  font-weight: bold;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Niramit', sans-serif;
  background-color: #6481ae;
  flex-grow: 1;
  padding: 1.25em;
  margin-top: -.5em;
  font-weight: bold;
  color: white;
  border-radius: 5%;

}
.go-button {
    display: flex;
    justify-content: center;
}

.zip-input {
    display: flex;
    justify-content: center;
    margin-top: -.95em;
}

@media only screen and (min-width: 992px) {
  .boxy1{
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
  }
  .abox{
    height: 400px;
    width: 100%;
  }
  .button1 {
    font-weight: bold;
    border-radius: 8px;
    background-color: #6481ae;
    border: none;
    flex-grow: .5;
    padding: 1.25em;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1em;
    color: white;

  }
  .go-button {
      display: relative;
      justify-content: center;
  }
}
