@import url('https://fonts.googleapis.com/css?family=Niramit');

* {
  box-sizing: border-box;
}
h3 {
  text-align: center;
  font-size: 1.5em;
}
.boxy2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Niramit', sans-serif;
  color: #74cbcf;
  margin-bottom: 35px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background-color: rgb(253, 253, 249);
}

.boxy2 p {
  color: black;
  font-weight: normal;
  font-size: .75em;
  padding: 1.1em;
  margin-top: -1em;
}

.button2 {
  background-color: #6481ae;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Niramit', sans-serif;
  padding: 1.45em;
  margin-top: -1.5em;
  flex-grow: 1;
  border-radius: 5%;


  color: white;
}

.go-button {
    display: flex;
    justify-content: center;
}

.zip-input {
    display: flex;
    justify-content: center;
    margin-top: -.95em;
}

@media only screen and (min-width: 992px) {
  .boxy2{
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 65px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 65px;
  }
  .abox1{
    height: 400px;
    width: 100%;
  }
  .button2 {
    border-radius: 8px;
    background-color: #d7b797;
    /* color: white;
    text-align: center;
    height: 2em;
    width: 10em;
    border-style: none;
    font-size: 20px; */


    border: none;

    flex-grow: .5;
    padding: 1.25em;
    margin-top: 20px;
    /* font-family: 'Prata', serif; */
    font-weight: bold;
    font-size: 1em;
    color: white;
  }

  .go-button {
      display: relative;
      justify-content: center;
  }

}
