* {
  box-sizing: border-box;
}
h3 {
  text-align: center;
}
.boxy1 {
  /* border: 5px solid blue; */
  font-size: 1.5em;
  color: white;
  margin-bottom: 35px;
  /* margin-left: 5px;
  margin-right: 5px; */
  padding-top: 50px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 50px;
  background-color: #74cbcf;

}

.button1 {
  font-weight: bold;
  /* border-radius: 8px; */
  background-color: #6481ae;
  /* color: white;
  text-align: center;
  height: 2em;
  width: 10em;
  border-style: none; */
  font-size: 20px;
  border: none;

  flex-grow: 1;
  padding: 1.25em;
  margin-top: -.5em;
  /* font-family: 'Prata', serif; */
  font-weight: bold;
  /* font-size: 1em; */
  color: white;

}
.go-button {
    display: flex;
    justify-content: center;
}

.zip-input {
    display: flex;
    justify-content: center;
    margin-top: -.95em;
}

@media only screen and (min-width: 992px) {
  .boxy1{
    /* height: 400px;
    width: 400px; */
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
  }
  .abox{
    height: 400px;
    width: 100%;
  }
  .button1 {
    font-weight: bold;
    border-radius: 8px;
    background-color: #6481ae;
    /* color: white;
    text-align: center;
    height: 2em;
    width: 10em;
    border-style: none;
    font-size: 20px; */
    border: none;
    flex-grow: .5;
    padding: 1.25em;
    margin-top: 20px;
    /* font-family: 'Prata', serif; */
    font-weight: bold;
    font-size: 1em;
    color: white;

  }
  .go-button {
      display: relative;
      justify-content: center;
  }


}
