@import url('https://fonts.googleapis.com/css?family=Niramit');

h1{
  font-weight: normal;
  margin: .5em 0;
  font-family: Niramit;
}
.button {
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-radius: 4%;
    background-color:#09b3ca;
    font-size: 20px;
    flex-grow: 1;
    padding: 1.25em;
    color: white;
    margin-top: 2.5em;
}
.logo-container {
    display: flex;
    justify-content: center
}

#logo {
   min-width: 50%;
  }

