h1 {
  text-align: center;
}

.mapbox-marker {
    width: 40px;
    height: 40px;
    background-image: url("http://pngimg.com/uploads/sun/sun_PNG13436.png");
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
  }

  #location-list {
    text-align: center;
    width: 50%;
  }
